* {
    font-family: sans-serif;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
}

.light_gray {
    color: #8c8d92;
}

.header_image__container {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.menu_items {
    padding-right: 20px;
}

.menu_items__list {
    display: flex;
    list-style: none;
}

.menu_items__list>.menu_item:hover {
    color: #FF993A;
    cursor: pointer !important;
}

.menu_items__list>.menu_item {
    padding: 20px;
    font-size: 18px;
}

.list__icon {
    padding: 10px;
}

.logo {
    width: 150px;
}

.app_title {
    color: #FF993A;
    font-style: italic;
}

/** body container css*/
.body_container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.body_heading__container {
    width: 80%;
    padding: 0px 40px;
}

.body_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body_list>img:hover {
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
}

.body_items_list {
    width: 120px;
    border-radius: 50%;
}

.body_item__label {
    padding-top: 10px;
}

.body_list_container>.menu_items__list {
    display: flex;
    flex-wrap: wrap;
}

.body_resto_list {
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.body_resto_list_item {
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.body_heading__container {
    padding: 25px 0px;
}

/** resto card css*/
.resto_card__container,
.shimmer__card {
    width: 300px;
    padding: 5px;
}

.resto_card__container:hover {
    cursor: pointer !important;
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.resto_card__image,
.shimmer__card_img {
    height: 15rem;
}

.resto_card__image>img {
    width: 100%;
    border-radius: 5px;
    height: 100%
        /* height: 150px; */
}

.resto_cuisine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resto_card__details {
    padding: 10px;
}

.resto_card__title {
    margin: 0px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.resto_card__rating__details {
    display: flex;
    align-items: center;
}

.resto_rating_icon {
    color: white;
    background: green;
    border-radius: 50%;
    padding: 2.5px;
    margin-right: 5px;
}

/** Search bar CSS*/
.search_bar {
    width: 100%;
    height: 38.5px;
    padding: 0px 15px;
    border: none;
    font-size: 18px;
}

.search_bar::placeholder {
    font-size: 18px;
    padding: 5px;
}

.search_bar:focus-visible {
    outline: none;
}

.search_container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #c6c3c3;
}

.search_icon {
    padding: 15px;
    cursor: pointer;
}

/**shimmer UI */
.shimmer__card_details {
    height: 3rem;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.shimmer__card_img,
.shimmer_card_title,
.shimmer_card_location {
    background-color: #f0f0f0;
}

.shimmer_card_title {
    width: 80%;
    height: 0.5rem;
    margin: 3px;
}

.shimmer_card_location {
    width: 60%;
    height: 0.5rem;
    margin: 3px;
}

.shimmer__card {
    background-color: white;
}

/** Error CSS*/
.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error_description {
    font-style: italic;
    color: red;
}

.error_content {
    text-align: center;
}

/** Resto details CSS */
.resto_details_container {
    padding: 20px 150px;
}

.resto_details_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resto_detail_rating {
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px;
    text-align: center;
}

.resto_detail_distance {
    padding: 10px 0px;
}

.resto_detail_dotted_line {
    border-style: dotted;
    border-top: none;
}

.fa-info-circle {
    color: #FF993A;
}

i {
    font-weight: bold;
    padding: 5px;
}

.resto_detail_section2,
.resto_detail_section2_1 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.resto_detail_section2_1>h4 {
    margin: 0px;
}

.resto_menu_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_img {
    height: 50%;
    width: 60%;
    border-radius: 10px;
}

/** Contact us Css */
.contactus_container {
    padding: 10px 200px;
    text-align: center;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}

.row_container {
    padding: 10px;
}

/** No Internet css*/
.no_internet {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/** side menu css */

* {
    font-family: inter;
}

.container_block {
    height: 100%;
    background-color: #F4F5F9;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
}

.brand_name {
    font-family: Anton !important;
    color: #22C55E;
}

.menu_heading {
    font-weight: 600;
    color: #334155;
}

.sidemenu_container {
    background-color: white;
    padding-top: 1rem;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
    box-shadow: none !important;
}

 .menu__container{
    padding-top: 8px !important;
}

.css-ahj2mt-MuiTypography-root:hover,
.css-ahj2mt-MuiTypography-root>span:hover,
.signle_menu:hover {
    color: #FABA15;
}
.css-15v22id-MuiAccordionDetails-root{
    padding: 0px !important;
}

.submenu_container {
    padding: 0px;
}

.submenu_item {
    text-decoration: none;
    color: #334155;
    padding: 10px;
    padding-left: 2.5rem;
    display: block;
}
.collapsed_submenuitem{
    padding-left: 1rem !important;
}
.single_menu_item{
    padding-left: 16px !important;
}

.signle_menu {
    padding: 0px 16px;
}

.submenu_item:hover {
    color: #FABA15;
}

.active {
    color: #FABA15;
    background-color: #F4F5F9; 
    display: block;
    width: 100%;
    font-weight: 600;
    border-left: 5px solid #FABA15;
  }

 .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
    color: white !important;
    background-color: #FABA15 !important;
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25) !important;
    position: absolute !important;
    margin-left: 3px !important;
}

.menu_toggle_container{
    display: flex;
    align-items: center;
}
.brand_name_container{
    display: flex;
    justify-content: center;
}

.collapsed_menu__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 25px;
    cursor: pointer;
}

.collapsed_menu_items:hover{
    color: #FABA15;
}


/** Top Navbar CSS*/
.navbar_container{
    padding: 30px 0px;
}
.navbar_profilr_container, .profile_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.navbar_second_grid{
    text-align: right;
}
.user_profile_info{
    padding-left: 10px;
    padding-right: 10px;
}
.user_name{
    margin: 0px;
}
.profile_icon{
    cursor: pointer;
}
.dark_cloud{
    color: #64748B;
}
.title{
    font-weight: 700;
}

/** */
.card_container{
    border-radius: 5px;
     padding: 20px; 
    background: white;
}
.main_container{
    padding: 0px 20px;
}