*{
   font-family: sans-serif ;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
}

.light_gray {
    color: #3d4152;
}

.header_image__container {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.menu_items {
    padding-right: 20px;
}

.menu_items__list {
    display: flex;
    list-style: none;
}

.menu_items__list>li:hover {
    color: #FF993A;
    cursor: pointer !important;
}

.menu_items__list>li {
    padding: 20px;
    font-size: 18px;
}

.list__icon {
    padding: 10px;
}

.logo {
    width: 150px;
}

.app_title {
    color: #FF993A;
    font-style: italic;
}

/** body container css*/
.body_container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.body_heading__container {
    width: 80%;
    padding: 0px 40px;
}

.body_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body_list>img:hover {
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
}

.body_items_list {
    width: 120px;
    border-radius: 50%;
}

.body_item__label {
    padding-top: 10px;
}

.body_list_container>.menu_items__list {
    display: flex;
    flex-wrap: wrap;
}

.body_resto_list {
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.body_resto_list_item {
    padding: 5px;
    list-style: none;
}
.body_heading__container{
    padding: 25px 0px;
}

/** resto card css*/
.resto_card__container, .shimmer__card {
    width: 300px;
    padding: 5px;
}

.resto_card__container:hover {
    cursor: pointer !important;
    box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.resto_card__image, .shimmer__card_img {
    height: 15rem;
}

.resto_card__image>img {
    width: 100%;
    border-radius: 5px;
    height: 100%
        /* height: 150px; */
}

.resto_cuisine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resto_card__details {
    padding: 10px;
}

.resto_card__title {
    margin: 0px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.resto_card__rating__details {
    display: flex;
    align-items: center;
}

.resto_rating_icon {
    color: white;
    background: green;
    border-radius: 50%;
    padding: 2.5px;
    margin-right: 5px;
}

/** Search bar CSS*/
.search_bar{
    width: 100%;
    height: 38.5px;
    padding: 0px 15px;
    border: none;
    font-size: 18px;
}
.search_bar::placeholder{
    font-size: 18px;
    padding: 5px;
}
.search_bar:focus-visible{
    outline: none;
}
.search_container{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #c6c3c3;
}
.search_icon{
    padding: 15px;
    cursor: pointer;
}
/**shimmer UI */
.shimmer__card_details{
    height: 3rem;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.shimmer__card_img,.shimmer_card_title, .shimmer_card_location{
    background-color: #f0f0f0;
}
.shimmer_card_title{
    width: 80%;
    height: 0.5rem;
    margin: 3px;
}
.shimmer_card_location{
    width: 60%;
    height: 0.5rem;
    margin: 3px;
}
.shimmer__card{
   background-color: white;
}
